@import "tailwindcss";


.bitfont-600 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}
.bitfont-400 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.bitfont-100 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
}
.bitfont-200 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  
}
.rubikfont {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}


.D3font {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}
